.card {
  display: inline-block;
  width: 20%;
  background-color: gray;
  text-align: center;
  padding: 10px;
  margin: 10px;
  font-family: sans-serif;
  line-height: 5px;
}

.card:hover {
  width: 21%
}

.card h2 {
  font-size: 20px;
  color: purple;
}

.card img {
  width: 40%;
  height: 40%;
}
