.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  width: 40rem;
  height: 20rem;
  align-items: center;
  border-radius: 10px;
  border: 1px solid black;
  padding: 2rem;
}

.input-group{
  width: 90%;
  height: 40%;
  display: flex;
  flex-direction: column;
}

.input {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  color: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  width: 100%;
  margin-right: 5%;
  height: 40%;
  padding: 0.5rem;
  border: 0;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

label {
  align-self: flex-start;
  margin-bottom: 0.5rem;
  font-style: italic;
}

.btn {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  color: rgba(0, 0, 0, 0.7);

  box-sizing: border-box;
  height: 15%;
  width: 25%;
  border: 0;
  box-shadow: 10px 5px 5px black;
  transition: box-shadow 0.2s ease-in-out;
}

.btn:hover {
  box-shadow: 12px 6px 6px black;
}

.btn:active {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.btn:disabled:hover,
.btn:disabled:active,
.btn:disabled {
  background-color: #ccc;
  border-color: #ccc;
  cursor: not-allowed;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  transition: none;
}

.invalid {
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.2);
}

.error-message {
  color: red;
  font-style: italic;
  font-size: 1rem;
  align-self: flex-start;
}