body {
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}