.roll-dice {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}
.roll-dice button {
  align-self: center;
  width: 15em;
  padding: 1.5em;
  border: 0px;
  border-radius: 10px;
  color: white;
  background-color: black;
  margin-top: 3em;
}

.roll-dice button:hover{
  background-color: darkslateblue;
  cursor: pointer;
}

.dice-container {
  display: flex;
  justify-content: center;
  align-content: center;
}